@charset "UTF-8";

body{
  margin: 0;
  font-family: 'Play', sans-serif;
}

img{
  max-height: 100%;
  max-width: 100%;
}

main{
  margin-top: 100px;
}

.imgcontainer {
  position: relative;
  width: 33.334%;
  height: 512px;;
}

.event-foto{
  width: 100%;
  height: 100%;
  font-size: 2vw;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.foto-titel-pos{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.twobars {
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 250px;
  height: 100px;
  top: 57%;
  left: 50%;
}

.foto-date-pos{
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  top: 40%;
  left: 30%;
}

.foto-month-pos{
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  top: 60%;
  left: 30%;
}

.inbars {
  width: 50%;
  height: 100px;
  float: left;
}

.foto-date-pos2{
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  top: 40%;
  left: 65%;
}

.foto-month-pos2{
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  top: 60%;
  left: 65%;
}

.inbars2 {
  width: 50%;
  height: 100px;
  float: left;
}

.divider {
  color: white;
  font-size: 20px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 48.5%;
}


#img-overlay-2 {
  opacity: 0;
  transition: .5s ease;
}

#img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.15;
  transition: .5s ease;
  background-color: #000;
}

.imgcontainer:hover #img-overlay{
  opacity: 0.6;
  cursor: pointer;
}

.imgcontainer:hover #img-overlay-2{
  opacity: 1;
  cursor: pointer;
}



